* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}


body {
    background-color: #333;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 8px solid #111;
}

.buttons-wrapper {
    display: flex;
}

.operators {
    display: flex;
    flex-direction: column;
}

.numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0;
}

.whitespace-button {
    border: none;
    background-color: #333;
}

.button-clear {
    width: 300px;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 0;
    background-color: #333;
    outline: 2px solid black;
    color: white;
    font-size: 24px;
}

.display {
    font-size: 80px;
    text-align: right;
    padding: 5px;
    color: lightgrey;
    height: 97px;
    background-color: #444;
}